@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --zIndex1:400;
  --zIndex2:200;
  --green-1: #00754a;
  --inner-width: 83%;
  --banner-text-color: #1e3932;
  --space-1: 8px;
  --space-2: 12px;
  --space-3: 16px;
  --footer-link-text-color: rgba(0, 0, 0, 0.58);
  --yellow-color: #e5ff67;
  --purple-color: #8f8bf4;
  --bg3: #e1fccd;
}

html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

.custom-btn {
  background-color: transparent;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: all 0.2s ease;
}

.page-inner-width {
  margin: 0 auto;
  width: var(--inner-width);
}

.display-none {
  display: none;
}

.bg0 {
  background-color: #eb81a5;
}
.greenBackground {
  background-color: #006241;
}
.purpleBackground {
  background-color: var(--purple-color);
}
.yellowBackground {
  background-color: var(--yellow-color);
}

.bg4 {
  background-color: #e1fccd;
}
